---
interface Props {
  items: string[];
}

const { items } = Astro.props;
---

<ul class="grid gap-4 sm:grid-cols-2">
  {items.map((item) => (
    <li class="border-l-4 border-[#157c93] bg-white px-5 py-4 leading-7 text-[#3c3834]">
      {item}
    </li>
  ))}
</ul>
